:root {
  --fonte-base: 'Rawline', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --cor-fundo: #f3f6fb;
  --cor-menu-fundo: #102542;
  --cor-menu-texto: #f4f7ff;
  --cor-menu-suave: #c7d3ea;
  --cor-primaria: #0c66d8;
  --cor-foco: #ffffff;
  --cor-menu-botao: rgba(255, 255, 255, 0.08);
  --cor-menu-botao-hover: rgba(255, 255, 255, 0.2);
  --cor-fundo-gradiente-topo: #d5e4ff;
  --cor-fundo-gradiente-base: #d9f1ea;
}

body[data-theme='dark'] {
  --cor-fundo: #333333;
  --cor-fundo-gradiente-topo: #333333;
  --cor-fundo-gradiente-base: #333333;
}
